@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap");

body {
  font-family: "Work Sans";
}

/**************************************/
/**********-HEADER START-**************/
/**************************************/

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  padding: 10px 0px;
  z-index: 99;
  left: 0;
  right: 0;
}

header nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
}

header.yellow {
  top: -135px;
  background: #fffdee;
  transition: top 0.5s;
}

header.yellow .menu-logo-white {
  display: none;
}

header.yellow .menu-logo-blue {
  display: block !important;
}

header.blue {
  background: #1a2b84;
  top: -135px;
  transition: top 0.5s;
}

header.white {
  background: #ffffff;
  top: -135px;
  transition: top 0.5s;
}

header.blue .menu-logo-white {
  display: block !important;
}

header.blue .menu-logo-blue {
  display: none !important;
}

header nav ul li {
  display: inline-block;
  padding: 0px 25px;
}

header nav ul li a.white-color {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

header nav ul li a.get-in-touch-blue {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

header nav ul li a.blue-color {
  color: #1a2b84;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

header nav ul li a.detail-blue-color {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

header.blue ul li a.blue-color {
  color: #ffffff;
}

header.white ul li a.blue-color {
  color: #1a2b84;
}

header nav ul li a.active {
  border-left: 4px solid #f95b30 !important;
  padding-left: 5px;
  font-weight: 700;
}

.menu-icon-white {
  line-height: 60px;
  width: 100%;
  background: #ffffff;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #1a2b84;
  display: none;
}

.menu-icon-yellow {
  line-height: 60px;
  width: 100%;
  background: #fffdee;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.menu-icon-blue {
  line-height: 60px;
  width: 100%;
  background: #1a2b84;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/**************************************/
/**********-HEADER END-****************/
/**************************************/

/**************************************/
/********-COLLECTIVE START-************/
/**************************************/

.margin-top {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 30px;
}

a:hover {
  text-decoration: none;
}

.freyjan-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
}

.freyjan-text-content {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.freyjan-social-text {
  color: #1a2b84;
  font-size: 20px;
  font-weight: 400;
}

.freyjan-banner-text {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
}

.text-title {
  color: #ff5907;
  font-size: 22px;
  font-weight: 700;
}

.text-content {
  color: #162288;
  font-size: 20px;
  font-weight: 400;
}

.text-content-white {
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.blue-bottom {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  z-index: 0;
  max-height: 300px;
  min-height: 150px;
  margin-top: 30px;
}

.blue-bottom-text {
  z-index: 1;
  width: 90%;
  flex-direction: column;
  position: absolute;
  max-height: 300px;
  min-height: 150px;
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin-top: 15px;
}

.blue-bottom-text-content {
  color: #fffdee;
  font-weight: 700;
  font-size: 16px;
}

.blue-bottom-text-content label {
  font-size: 12px;
  font-weight: 400;
}

.white-bottom {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  z-index: 0;
  max-height: 300px;
  min-height: 150px;
  margin-top: 30px;
}

.white-bottom-text {
  z-index: 1;
  width: 90%;
  flex-direction: column;
  position: absolute;
  max-height: 300px;
  min-height: 150px;
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin-top: 15px;
}

.white-bottom-text-content {
  color: #1a2b84;
  font-weight: 700;
  font-size: 16px;
}

.white-bottom-text-content label {
  font-size: 12px;
  font-weight: 400;
}

#devlynk-hover:hover {
  background-image: url(/assets/images/devlynk-hover-icon.svg);
  opacity: 1;
}

#eczacibasi-hover:hover {
  background-image: url(/assets/images/eczacibasi-hover-icon.svg);
  opacity: 1;
}

#turkcell-hover:hover {
  background-image: url(/assets/images/turkcell-hover-icon.svg);
  opacity: 1;
}

#tav-hover:hover {
  background-image: url(/assets/images/tav-hover-icon.svg);
  opacity: 1;
}

#zorlu-about-hover:hover {
  background-image: url(/assets/images/zorlu-about-hover-icon.svg);
  opacity: 1;
}

#zorlu-work-hover:hover {
  background-image: url(/assets/images/zorlu-work-hover-icon.svg);
  opacity: 1;
}

#siemens-hover:hover {
  background-image: url(/assets/images/siemens-hover-icon.svg);
  opacity: 1;
}

#gulsha-hover:hover {
  background-image: url(/assets/images/gulsha-hover-icon.svg);
  opacity: 1;
}

#smash-hover:hover {
  background-image: url(/assets/images/smash-hover-icon.svg);
  opacity: 1;
}

/**************************************/
/**********-COLLECTIVE END-************/
/**************************************/

/**************************************/
/********-HOME START-************/
/**************************************/

.home-body {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1a2b84;
  justify-content: space-between;
}

#home-body-content {
  overflow: auto;
  position: relative;
}

.home-social-text {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 10%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 40%;
  padding-bottom: 2%;
}

.home-social-follow-us {
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: #1a2b84;
}

#home-container {
  margin-top: 0px;
}

#homeVideo {
  height: 36vh;
}

#home-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#home-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 150px;
  z-index: 5;
}

#home-mobile-orange-line {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: auto;
  bottom: 15%;
}

#home-mobile-footer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65%;
}

#home-web-footer-bg {
  position: absolute;
  bottom: 0;
  right: 0;
}

/**************************************/
/**********-HOME END-************/
/**************************************/

/**************************************/
/********-ABOUT START-************/
/**************************************/

.about-devlynk-icons {
  background-image: url(/assets/images/about-devlynk-icon.svg);
  background-size: contain;
  width: 127px;
  height: 30px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.about-eczacibasi-icons {
  background-image: url(/assets/images/about-eczacibasi-icon.svg);
  background-size: contain;
  width: 129px;
  height: 31px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.about-turkcell-icons {
  background-image: url(/assets/images/about-turkcell-icon.svg);
  background-size: contain;
  width: 129px;
  height: 29px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.about-tav-icons {
  background-image: url(/assets/images/about-tav-icon.svg);
  background-size: contain;
  width: 93px;
  height: 45px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.about-zorlu-icons {
  background-image: url(/assets/images/about-zorlu-icon.svg);
  background-size: contain;
  width: 128px;
  height: 33px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.about-siemens-icons {
  background-image: url(/assets/images/about-siemens-icon.svg);
  background-size: contain;
  width: 128px;
  height: 21px;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-top: 3px;
}

.about-gulsha-icons {
  background-image: url(/assets/images/about-gulsha-icon.svg);
  background-size: contain;
  width: 93px;
  height: 35px;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-bottom: 8px;
}

.about-smash-icons {
  background-image: url(/assets/images/about-smash-icon.svg);
  background-size: contain;
  width: 93px;
  height: 35px;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-bottom: 20px;
}

.about-social-follow-us {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #1a2b84;
}

.about-carousel-bg-orange-line {
  position: absolute;
  z-index: 0;
  background-position: center;
  max-height: 800px;
}

.about-body {
  background-color: #1a2b84;
}

#about {
  padding-top: 100px;
}

.about-bottom-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.about-number {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
}

.about-number-text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.about-what-we-are-capable-of-top-img {
  margin-top: 1.3rem;
}

.text-what-we-are-capable-content {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.what-we-are-capable-content-title {
  color: #ff5907;
  font-size: 14px;
  font-weight: 700;
}

/**********Carousel Start**************/

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
}

.carousel-item {
  -webkit-backface-visibility: hidden;
  transition: none;
  transition: none;
  transition: none;
  margin-top: 100px;
  bottom: 20px;
}

.carousel-item.active {
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 20px;
  }
}

.carousel-item-menu {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: #fff;
  background-clip: padding-box;
  opacity: 0.5;
  border-radius: 100%;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
}

.carousel-indicators .active {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: #fff;
  background-clip: padding-box;
  opacity: 1;
  border-radius: 100%;
  margin-top: -2px;
  transition: top 0.3s;
  transition-property: opacity;
  transform: translate3d(0, 0, 0);
}

.carousel-indicators img {
  display: none;
}

.carousel-item img.item-bg {
  width: 100%;
  position: relative;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: auto;
  top: 20%;
  left: 15%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: black;
  text-align: left;
}

.carousel-caption-xlarge {
  top: 15%;
}

.carousel-item.active {
  z-index: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-position: bottom;
  background-size: cover;
}

.carousel-item.active .people {
  background-image: url(../images/about-people-are-saying-img-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  position: absolute;
  margin-top: -75px;
  padding: 22px 15px 25px 15px;
}

.carousel-item.active .people img {
  width: 100%;
}

.about-carousel-item-text {
  color: #1a2b84;
  font-size: 10px;
  line-height: 11px;
}

.about-carousel-item-text .peopleName {
  color: #1a2b84;
  font-size: 14px;
  font-weight: 700;
}

.about-carousel-item-text .peopleJob {
  color: #1a2b84;
  font-size: 12px;
  font-weight: 700;
}

/**********Carousel End****************/

/**************************************/
/**********-ABOUT END-*****************/
/**************************************/

/**************************************/
/**********-APPROACH START-************/
/**************************************/

#approach {
  padding-top: 100px;
}

.approach-body {
  background-color: #fffdee;
}

.approach-images {
  width: 60%;
}

.approach-banner-images {
  width: 150px;
  height: 214px;
  margin-right: -35px;
}

.approach-text-content {
  color: #162288;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.approach-text-content-title {
  color: #ff5907;
  font-size: 14px;
  font-weight: 700;
}

.approach-diagram-web {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/approach-diagram-web.png);
  height: 100px;
  width: 100%;
}

/**************************************/
/**********-APPROACH END-************/
/**************************************/

/**************************************/
/********-GET IN TOUCH START-************/
/**************************************/

.get-in-touch-body {
  background: #1a2b84;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#get-in-touch {
  position: relative;
}

.get-in-touch-text {
  max-width: 400px;
  color: #1a2b84;
  font-size: 11px;
}

.get-in-touch-text-title {
  font-weight: 700;
}

.get-in-touch-text-content {
  font-weight: 400;
}

.get-in-touch-forms {
  max-width: 542px;
  width: 100%;
}

.get-in-touch-forms-text {
  max-width: 542px;
  width: 100%;
}

.get-in-touch-forms-text-area {
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  height: 150px !important;
}

.text-area-span {
  width: 100%;
  color: #151515;
  min-width: 285px;
  max-width: 295px;
  padding: 0.375rem 0.75rem;
  top: 265px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  opacity: 0.7;
}

.text-area-span label {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  color: #151515;
}

.get-in-touch-forms-text-area::-webkit-input-placeholder {
  color: #151515;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

.get-in-touch-forms-text-area:-moz-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-text-area::-moz-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-text-area:-ms-input-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-text-area::-ms-input-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-input {
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.get-in-touch-forms-input::-webkit-input-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-input:-moz-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-input::-moz-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-input:-ms-input-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-input::-ms-input-placeholder {
  color: #151515;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.get-in-touch-forms-button {
  border-radius: 4px;
  background-color: #f95b30;
  border-color: #f95b30;
  color: #ffffff !important;
  width: 140px;
  line-height: 45px;
  text-align: center;
}

.get-in-touch-forms-button:hover {
  color: #fff;
  background-color: #f29d87;
  border-color: #f29d87;
  border-color: #f29d87;
}

.get-in-touch-title {
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
  line-height: 25px;
}

.get-in-touch-mail {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.get-in-touch-social {
  position: absolute;
  z-index: 0;
}

.get-in-touch-social-text {
  bottom: 25px;
  position: relative;
  z-index: 1;
  width: 160px;
}

.get-in-touch-adress-image {
  max-width: 120px;
  position: absolute;
  right: 15px;
  bottom: 3rem;
}

.get-in-touch-forms-warning {
  font-size: 16px;
  font-weight: 500;
  color: #f95b30;
}

.get-in-touch-forms-button-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-in-touch-lg-footer-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190px;
}

/**************************************/
/**********-GET IN TOUCH END-************/
/**************************************/

/**************************************/
/********-WORK START-************/
/**************************************/

#work-video-box {
  background-color: #fffdee;
  padding: 10px 25px;
  color: #f95b30;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  z-index: 2;
  display: none;
}

.work-video-text {
  color: #1c2f82;
  font-size: 12px;
  font-weight: 700;
  height: 15%;
}

.work-video-text:hover {
  color: #1c2f82;
}

.work-devlynk-icons {
  background-image: url(/assets/images/work-devlynk-icon.svg);
  background-size: contain;
  width: 127px;
  height: 30px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.work-eczacibasi-icons {
  background-image: url(/assets/images/work-eczacibasi-icon.svg);
  background-size: contain;
  width: 129px;
  height: 31px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.work-turkcell-icons {
  background-image: url(/assets/images/work-turkcell-icon.svg);
  background-size: contain;
  width: 129px;
  height: 29px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.work-tav-icons {
  background-image: url(/assets/images/work-tav-icon.svg);
  background-size: contain;
  width: 93px;
  height: 45px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.work-zorlu-icons {
  background-image: url(/assets/images/work-zorlu-icon.svg);
  background-size: contain;
  width: 128px;
  height: 33px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.work-siemens-icons {
  background-image: url(/assets/images/work-siemens-icon.svg);
  background-size: contain;
  width: 128px;
  height: 21px;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-top: 3px;
}

.work-gulsha-icons {
  background-image: url(/assets/images/work-gulsha-icon.svg);
  background-size: contain;
  width: 93px;
  height: 35px;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-bottom: 8px;
}

.work-smash-icons {
  background-image: url(/assets/images/work-smash-icon.svg);
  background-size: contain;
  width: 93px;
  height: 35px;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-bottom: 20px;
}

video::-webkit-media-controls {
  display: none;
}

#work {
  padding-top: 100px;
}

.work-body {
  background-color: #fffdee;
}

video::-webkit-media-controls {
  display: none !important;
}

video:focus {
  outline: none;
}

/**************************************/
/**********-WORK END-************/
/**************************************/

/**************************************/
/**********-IDDAA DETAIL START-************/
/**************************************/

#iddaa-body {
  background-color: #ffffff;
}

#iddaa-body-content {
  padding-top: 0px;
}

.iddaa-banner-text-title {
  color: #151515;
  font-size: 16px;
  font-weight: 900;
}

.iddaa-banner-text {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.iddaa-text {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.iddaa-text-ul {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.iddaa-banner-explanation {
  line-height: 18px;
}

.iddaa-banner-explanation .iddaa-banner-explanation-title {
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.iddaa-banner-explanation .iddaa-banner-explanation-content {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.iddaa-text-title {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
}

.iddaa-detail-green-user-img-text {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
}

.iddaa-ux-research-row {
  position: relative;
  width: 100%;
}

.iddaa-circular {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.iddaa-iconography-web-img {
  width: 90%;
}

.iddaa-iconography-web-img-arrow {
  width: 48%;
}

.iddaa-iconography-mobile-img {
  width: 30%;
}

.iddaa-typography-section {
  background-image: url(/assets/images/iddaa-typography-bg-mobile.png);
  background-size: cover;
  background-position: 0 0, center;
  background-repeat: no-repeat;
  padding: 20% 0px;
}

.iddaa-high-fidelity-option-img {
  width: 80%;
  height: 140px;
}

.iddaa-high-fidelity-row-img {
  width: 95%;
  height: auto;
}

.iddaa-ball-bg {
  background-size: cover;
  width: 80%;
  position: absolute;
  top: 12%;
  left: 19%;
  background-position: center;
}

.iddaa-banner-img {
  height: auto;
  width: 100%;
  margin-left: -10px;
}

.iddaa-web-typography-text-img {
  height: 92%;
}

/**************************************/
/**********-IDDAA DETAIL END-***************/
/**************************************/

/**************************************/
/********-GULSHA DETAIL START-************/
/**************************************/

#gulsha-body {
  background-color: #ffffff;
}

#gulsha-body-content {
  padding-top: 0px;
}

.gulsha-banner-text-title {
  color: #151515;
  font-size: 16px;
  font-weight: 900;
}

.gulsha-banner-text {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.gulsha-banner-explanation {
  line-height: 18px;
}

.gulsha-banner-explanation .gulsha-banner-explanation-title {
  color: #151515;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.gulsha-banner-explanation .gulsha-banner-explanation-content {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.gulsha-banner-explanation .gulsha-banner-explanation-link {
  color: #151515;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
}

.gulsha-text-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
}

.gulsha-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.gulsha-digital-branding-top-img {
  width: 100%;
  position: absolute;
  margin-top: -40px;
}

.gulsha-digital-branding-bg {
  background-color: #ffffff;
}

.gulsha-digital-branding-icon {
  height: 47px;
}

.gulsha-digital-branding-oval {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.gulsha-digital-branding-square {
  width: 123px;
  height: 32px;
  border-radius: 3px;
  font-size: 8px;
  font-weight: 500;
  line-height: 14px;
  font-weight: 500;
}

.gulsha-detail-mt-mb {
  margin-top: 30px;
  margin-bottom: 30px;
}

.gulsha-final-text-title {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;
}

.gulsha-detail-owner {
  width: 100%;
  height: auto;
}

.gulsha-detail-owner-div {
  position: absolute;
  top: 30%;
  width: 69%;
  left: 18%;
}

.gulsha-detail-owner-div-name {
  color: #4c4c4e;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.gulsha-detail-owner-div-job {
  color: #4c4c4e;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.gulsha-detail-owner-div-text {
  color: #2c2c2c;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.gulsha-detail-social-row {
  position: absolute;
  bottom: 3%;
  display: flex;
  right: 0;
  justify-content: flex-end;
}

.gulsha-detail-social-row img {
  width: 65%;
}

.gulsha-detail-social-a-cols {
  position: absolute;
  top: -7px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  right: 0;
}

.gulsha-wireframe-exploration-bg {
  background-color: #a5676f;
}

.gulsha-concept-iteration-bg {
  background-color: #f5efec;
}
/**************************************/
/**********-GULSHA DETAIL END-************/
/**************************************/

/**************************************/
/**********-MEDIA START-***************/
/**************************************/

@media (min-width: 576px) {
  .iddaa-web-typography-text-img {
    height: 87%;
  }

  .iddaa-typography-section {
    background-image: url(/assets/images/iddaa-typography-bg.png);
  }

  .iddaa-banner-img {
    width: 80%;
    margin-left: -6px;
  }

  .iddaa-iconography-mobile-img {
    width: 20%;
  }

  .iddaa-iconography-web-img {
    width: 60%;
  }

  .iddaa-iconography-web-img-arrow {
    width: 32%;
  }

  .gulsha-wireframe-exploration-bg,
  .gulsha-concept-iteration-bg {
    background-color: #ffffff;
  }

  .gulsha-text {
    color: #000000 !important;
  }

  .gulsha-wireframe-exploration-text-lg {
    position: absolute;
    max-width: 40%;
    right: 9%;
    bottom: 4%;
  }

  .gulsha-concept-iteration-text-lg {
    position: absolute;
    max-width: 37%;
    right: 30%;
    top: 58%;
  }

  .iddaa-high-fidelity-row-img {
    width: 80%;
  }

  .iddaa-high-fidelity-option-img {
    width: 95%;
    height: 159px;
  }

  .iddaa-detail-green-user-img-text {
    font-size: 18px;
  }

  .iddaa-ux-research-row-top {
    position: absolute;
    top: 10%;
    left: 33%;
    width: 33%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .iddaa-ux-research-row-bottom {
    position: absolute;
    bottom: 20%;
    left: 33%;
    width: 33%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .iddaa-ux-research-row-left {
    position: absolute;
    bottom: 17%;
    right: 8%;
    top: 10%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .iddaa-ux-research-row-right {
    position: absolute;
    bottom: 17%;
    left: 10%;
    top: 10%;
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .approach-images {
    width: 80%;
  }

  .gulsha-detail-owner-div {
    top: 45%;
    width: 60%;
    left: 18%;
  }

  .about-carousel-item-text {
    font-size: 14px;
    line-height: 18px;
  }

  .about-carousel-item-text .peopleName {
    font-size: 16px;
  }

  .about-carousel-item-text .peopleJob {
    font-size: 14px;
  }

  .carousel-caption {
    top: 15%;
  }

  .carousel-caption-xlarge {
    top: 10%;
  }

  .text-what-we-are-capable-content {
    font-size: 14px;
    line-height: 18px;
  }

  .what-we-are-capable-content-title {
    font-size: 18px;
    line-height: 22px;
  }

  .approach-diagram-web {
    height: 200px;
  }

  .get-in-touch-adress-image {
    max-width: 200px;
    right: 0%;
    bottom: 0;
    position: relative;
  }

  .approach-text-content {
    font-size: 14px;
    line-height: 18px;
  }

  .approach-text-content-title {
    font-size: 18px;
  }

  .get-in-touch-text {
    font-size: 14px;
  }

  .blue-bottom-text {
    right: 10%;
    margin-top: 40px;
  }

  .white-bottom-text {
    right: 10%;
    margin-top: 40px;
  }

  .about-bottom-text {
    font-size: 24px;
  }

  .approach-banner-images {
    width: 250px;
    height: 304px;
    margin-right: -70px;
  }

  .blue-bottom-text-content {
    font-size: 23px;
  }

  .blue-bottom-text-content label {
    font-size: 16px;
  }

  .white-bottom-text-content {
    font-size: 23px;
  }

  .white-bottom-text-content label {
    font-size: 16px;
  }

  .about-social-follow-us {
    font-size: 20px;
  }
}

@media (max-width: 365.98px) {
  .about-carousel-item-text {
    font-size: 9px;
    line-height: 10px;
  }

  .about-carousel-item-text .peopleName {
    font-size: 13px;
  }

  .about-carousel-item-text .peopleJob {
    font-size: 11px;
  }

  .carousel-caption {
    top: 15%;
  }

  .carousel-caption-xlarge {
    top: 10% !important;
  }
}

@media (max-width: 575.98px) {

  .carousel-item-menu-black {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #151515;
    background-clip: padding-box;
    opacity: 0.5;
    border-radius: 100%;
  }

  .carousel-indicators-black .active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #151515;
    background-clip: padding-box;
    opacity: 1;
    border-radius: 100%;
    margin-top: -2px;
    transition: top 0.3s;
    transition-property: opacity;
    transform: translate3d(0, 0, 0);
  }


  .iddaa-high-fidelity-row1-img-1 {
    height: 435px;
  }

  .iddaa-high-fidelity-images {
    height: 367px;
  }

  .gulsha-text-title-wireframe {
    color: #ffffff;
  }

  .work-sm-col-height {
    height: 200px !important;
  }

  .index-video-title {
    margin-top: -30px;
    margin-bottom: 30px !important;
  }

  .white-bottom-text-content-icon {
    width: 20px;
  }

  .home-social-follow-us {
    font-size: 14px;
  }

  .about-social-follow-us {
    font-size: 14px;
  }

  .get-in-touch-title {
    font-size: 16px;
  }

  .get-in-touch-mail {
    font-size: 12px;
  }

  .text-area-span {
    font-size: 12px;
  }

  .text-area-span label {
    font-size: 12px;
  }

  .get-in-touch-forms-input::-webkit-input-placeholder {
    font-size: 12px;
    color: #151515;
  }

  .get-in-touch-forms-input:-moz-placeholder {
    font-size: 12px;
    color: #151515;
  }

  .get-in-touch-forms-input::-moz-placeholder {
    font-size: 12px;
    color: #151515;
  }

  .get-in-touch-forms-input:-ms-input-placeholder {
    font-size: 12px;
    color: #151515;
  }

  .get-in-touch-forms-input::-ms-input-placeholder {
    font-size: 12px;
    color: #151515;
  }

  .get-in-touch-forms-text-area {
    height: 160px !important;
  }

  .get-in-touch-forms-text-area::-webkit-input-placeholder {
    font-size: 12px;
    opacity: 0.7;
    color: #151515;
  }

  .get-in-touch-forms-text-area:-moz-placeholder {
    font-size: 12px;
    opacity: 0.7;
    color: #151515;
  }

  .get-in-touch-forms-text-area::-moz-placeholder {
    font-size: 12px;
    opacity: 0.7;
    color: #151515;
  }

  .get-in-touch-forms-text-area:-ms-input-placeholder {
    font-size: 12px;
    opacity: 0.7;
    color: #151515;
  }

  .get-in-touch-forms-text-area::-ms-input-placeholder {
    font-size: 12px;
    opacity: 0.7;
    color: #151515;
  }

  .text-title {
    font-size: 14px;
  }

  .text-content {
    font-size: 12px;
    line-height: 15px;
  }

  .about-projects-logo {
    width: 65px;
    height: 25px;
  }
}

@media (max-width: 767.98px) {
  #gulsha-body-content {
    padding-top: 100px;
  }

  #iddaa-body-content {
    padding-top: 100px;
  }

  .get-in-touch-social-icon-images {
    width: 16px;
    height: 16px;
  }

  .gulsha-detail-final-ui-image {
    height: auto;
    max-width: 332px;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .gulsha-wireframe-exploration-text-lg {
    bottom: 10%;
    max-width: 34%;
  }

  .iddaa-ball-bg {
    width: 66%;
    left: 23%;
  }

  .iddaa-high-fidelity-option-img {
    height: 159px;
  }

  .iddaa-iconography-mobile-img {
    width: 10%;
  }

  .iddaa-circular {
    width: 65px;
    height: 65px;
  }

  .iddaa-detail-green-user-img-text {
    font-size: 22px;
  }

  .work-video-text {
    font-size: 14px;
  }

  .carousel-item {
    margin-top: 120px;
  }

  .gulsha-final-text-title {
    font-size: 25px;
    line-height: 35px;
  }

  .gulsha-detail-owner-div-name {
    font-size: 25px;
    line-height: 50px;
  }

  .gulsha-detail-owner-div-job {
    font-size: 20px;
    line-height: 50px;
  }

  .gulsha-detail-owner-div-text {
    font-size: 16px;
    line-height: 24px;
  }

  #gulsha-body-content {
    padding-top: 50px;
  }

  #iddaa-body-content {
    padding-top: 50px;
  }

  .gulsha-banner-text-title {
    font-size: 25px;
  }

  .iddaa-banner-text-title {
    font-size: 25px;
  }

  .gulsha-banner-text {
    font-size: 14px;
    line-height: 20px;
  }

  .iddaa-banner-text {
    font-size: 14px;
    line-height: 20px;
  }

  .iddaa-text {
    font-size: 14px;
    line-height: 20px;
  }

  .iddaa-text-ul {
    font-size: 14px;
    line-height: 18px;
  }

  .gulsha-text-title {
    font-size: 25px;
    line-height: 35px;
  }

  .iddaa-text-title {
    font-size: 25px;
    line-height: 35px;
  }

  .gulsha-text {
    color: #000000 !important;
    font-size: 15px;
    line-height: 20px;
  }

  .gulsha-banner-explanation-link-lg {
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 1;
  }

  .gulsha-banner-explanation {
    text-align: right;
  }

  .iddaa-banner-explanation {
    text-align: right;
  }

  .gulsha-detail-owner {
    width: 75%;
  }

  .gulsha-detail-owner-div {
    top: 45%;
    width: 50%;
    left: 25%;
  }

  .gulsha-concept-iteration-text-lg {
    bottom: auto;
    right: 30%;
  }

  .gulsha-final-ui-text-lg {
    position: absolute;
    max-width: 60%;
    right: 5%;
    bottom: 25px;
  }

  .index-video-title {
    margin-top: -60px;
    margin-bottom: 60px !important;
  }

  .margin-top {
    margin-top: 50px;
  }

  .margin-top-50 {
    margin-top: 50px;
  }

  .margin-bottom {
    margin-bottom: 150px;
  }

  .carousel-item.active .people {
    width: 150px;
    margin-top: -100px;
    padding: 26px 20px 26px 17px;
  }

  .carousel-caption {
    top: 30%;
  }

  .carousel-caption-xlarge {
    top: 15%;
  }

  .about-carousel-item-text {
    font-size: 16px;
    line-height: 20px;
  }

  .about-carousel-item-text .peopleName {
    font-size: 18px;
  }

  .about-carousel-item-text .peopleJob {
    font-size: 16px;
  }

  .text-what-we-are-capable-content {
    font-size: 16px;
    line-height: 24px;
  }

  .approach-images {
    width: 100%;
  }

  .approach-diagram-web {
    height: 250px;
  }

  .text-content-white {
    font-size: 16px;
    line-height: 24px;
  }

  .gulsha-digital-branding-square {
    width: 135px;
    height: 35px;
  }

  .gulsha-digital-branding-icon {
    height: 55px;
  }

  .gulsha-digital-branding-oval {
    width: 80px;
    height: 80px;
  }

  .approach-text-content {
    font-size: 16px;
    line-height: 20px;
  }

  .approach-text-content-title {
    font-size: 22px;
  }

  .about-number {
    color: #ffffff;
    font-size: 46px;
    font-weight: 700;
  }

  .about-number-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }

  .freyjan-banner-text {
    font-size: 20px;
    line-height: 30px;
  }

  .freyjan-title {
    font-size: 26px;
  }

  .freyjan-text-content {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  }

  .blue-bottom-text {
    margin-top: 65px;
  }

  .blue-bottom-text-content {
    font-size: 25px;
  }

  .white-bottom-text-content {
    font-size: 25px;
  }

  .white-bottom-text {
    margin-top: 65px;
  }
}

@media (max-width: 991.98px) {
  .iddaa-detail-container {
    max-width: 100%;
  }

  .gulsha-detail-container {
    max-width: 100%;
  }

  .container-max-width {
    max-width: 100%;
  }

  #get-in-touch {
    padding-top: 100px;
  }

  #home-container {
    max-width: 100% !important;
  }

  header {
    padding: 0;
  }

  header nav ul {
    max-height: 0px;
  }

  .blue-showing {
    background-color: #fffdee;
  }

  header nav ul li a.blue-color {
    color: #1a2b84 !important;
  }

  .showing {
    max-height: 100vh;
    max-width: 100%;
    width: 100vh;
    height: 100vh;
    justify-content: center;
  }

  .showing li a:focus {
    color: #f95b30 !important;
    font-weight: 700 !important;
  }

  .yellow-showing {
    background-color: #1a2b84;
  }

  .white-showing {
    background-color: #ffffff;
  }

  .menu {
    position: absolute;
    top: 90px;
  }

  header nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    text-align: center;
  }

  header nav ul li a.blue-color:hover {
    font-weight: 900;
  }

  header nav ul li a.active {
    border-left: none !important;
    padding-left: 0px !important;
    font-weight: 900 !important;
    color: #f95b30 !important;
  }

  .menu-icon-yellow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 24px;
    background: #1a2b84;
  }

  .menu-icon-blue {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 24px;
    background: #fffdee;
  }

  .menu-icon-white {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 24px;
    background: #ffffff;
  }

  .home-social-icons {
    width: 70%;
    justify-content: space-around;
    margin-top: 10px;
  }

  .get-in-touch-adress-reverse {
    flex-direction: column-reverse;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .iddaa-circular {
    width: 80px;
    height: 80px;
  }

  .iddaa-detail-green-user-img-text {
    font-size: 26px;
  }

  .iddaa-ux-research-row {
    width: 80%;
  }

  .carousel-item {
    margin-bottom: 50px;
    top: 50px;
  }

  .carousel-item.active {
    animation-name: example;
    animation-duration: 4s;
  }

  @keyframes example {
    0% {
      top: 0px;
    }
    100% {
      top: 50px;
    }
  }

  .margin-top {
    margin-top: 150px;
  }

  .freyjan-banner-text {
    font-size: 26px;
    line-height: 40px;
  }

  .projects-icons-first-row {
    padding-right: 12%;
  }

  .projects-icons-first-second {
    padding-left: 12%;
  }

  .gulsha-detail-social-row img {
    width: 75%;
  }

  .gulsha-detail-social-a-cols {
    width: 84%;
  }

  .gulsha-text {
    font-size: 18px;
    line-height: 24px;
  }

  .gulsha-detail-owner {
    width: 80%;
  }

  .gulsha-detail-owner-div {
    top: 40%;
    width: 55%;
    left: 25%;
  }

  .gulsha-detail-owner-div-name {
    font-size: 30px;
  }

  .gulsha-detail-owner-div-job {
    font-size: 25px;
  }

  .gulsha-detail-owner-div-text {
    font-size: 18px;
    line-height: 24px;
  }

  .gulsha-concept-iteration-text-lg {
    top: 60%;
    max-width: 35%;
  }

  .gulsha-detail-mt-mb {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .home-body {
    background-image: url(../images/home-body-lg-bg.svg);
    position: relative;
    background-color: #1a2b84;
  }

  header nav ul li a.get-in-touch-blue {
    color: #1a2b84;
  }

  .index-video-title {
    margin-top: 30px;
    margin-bottom: 30px !important;
  }

  .get-in-touch-header {
    position: relative;
  }

  .carousel-indicators .active {
    display: none;
  }

  .carousel-item-menu {
    display: flex;
    width: 100px;
    height: auto;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/about-people-are-saying-img-bg.svg);
    opacity: 0.7;
    padding-left: 18px;
    padding-bottom: 2px;
    padding-top: 27px;
    padding-right: 25px;
    align-items: flex-start;
  }

  .carousel-item-menu img {
    width: 100%;
  }

  .carousel-item-menu .item-bg {
    width: 100%;
  }

  .carousel-indicators {
    position: absolute;
    right: 0;
    top: 0px;
    bottom: auto;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: space-between;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }

  .carousel-indicators img {
    display: block;
  }

  .carousel-item img.item-bg {
    width: 85%;
  }

  .carousel-caption {
    right: 22%;
    left: 22%;
    top: 15%;
  }

  .about-carousel-item-text {
    font-size: 18px;
    line-height: 22px;
  }

  .about-carousel-item-text .peopleName {
    font-size: 22px;
  }

  .about-carousel-item-text .peopleJob {
    font-size: 18px;
  }

  .get-in-touch-forms {
    margin-right: -200px;
  }
  .get-in-touch-forms-input {
    width: 80%;
  }
  .get-in-touch-forms-text-area {
    width: 80%;
  }

  .get-in-touch-forms-button {
    margin-right: 20%;
  }

  #get-in-touch {
    margin-top: -30px;
  }

  #homeVideo {
    height: 50vh;
  }

  header.yellow nav ul li a.white-color {
    color: #1a2b84;
  }

  #home-body-content {
    margin-top: 120px;
  }

  .menu-nav-item-work-transition {
    color: #ffffff !important;
  }

  .menu-nav-item-about-transition {
    color: #ffffff !important;
  }

  .about-what-we-are-capable-of-top-img {
    margin-top: -2.7rem;
  }

  .approach-diagram-web {
    height: 300px;
  }

  .text-content-white {
    font-size: 18px;
    line-height: 30px;
  }

  .gulsha-banner-text-title {
    font-size: 35px;
    line-height: 45px;
  }

  .iddaa-banner-text-title {
    font-size: 35px;
    line-height: 45px;
  }

  .gulsha-banner-text {
    font-size: 18px;
    line-height: 30px;
  }

  .iddaa-banner-text {
    font-size: 18px;
    line-height: 30px;
  }

  .iddaa-text {
    font-size: 18px;
    line-height: 30px;
  }

  .gulsha-banner-explanation .gulsha-banner-explanation-title {
    font-size: 18px;
    line-height: 30px;
  }

  .iddaa-banner-explanation .iddaa-banner-explanation-title {
    font-size: 18px;
    line-height: 30px;
  }

  .gulsha-banner-explanation .gulsha-banner-explanation-content {
    font-size: 16px;
    line-height: 30px;
  }

  .iddaa-banner-explanation .iddaa-banner-explanation-content {
    font-size: 16px;
    line-height: 30px;
  }

  .gulsha-banner-explanation .gulsha-banner-explanation-link {
    font-size: 18px;
    line-height: 30px;
  }

  .get-in-touch-social {
    position: relative;
  }

  .get-in-touch-social-text {
    position: absolute;
  }

  .get-in-touch-text {
    font-size: 12px;
  }

  .get-in-touch-adress-image {
    max-width: 185px;
    position: relative;
  }

  .get-in-touch-forms-button-warning {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .blue-bottom-text {
    margin-top: 90px;
  }

  .white-bottom-text {
    margin-top: 90px;
  }

  .freyjan-title {
    font-size: 30px;
  }

  .freyjan-text-content {
    font-size: 21px;
  }

  .home-social-icons {
    flex-direction: column;
  }

  .blue-bottom-text {
    width: 55%;
  }

  .white-bottom-text {
    width: 55%;
  }

  .home-social-text {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    left: auto;
    padding-bottom: 20px;
  }

  .home-social-follow-us {
    width: auto;
  }

  .about-social-follow-us {
    width: auto;
  }

  .get-in-touch-body {
    background: linear-gradient(to right, #1a2b84 0%, #1a2b84 65%, #fffdee 35%, #fffdee 100%);
  }
}

@media (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
  .iddaa-typography-section {
    padding: 5% 0px;
  }

  .iddaa-detail-green-user-img-text {
    font-size: 30px;
    line-height: 35px;
  }

  .iddaa-text-ul {
    font-size: 18px;
    line-height: 22px;
  }

  #get-in-touch {
    margin-top: -50px;
  }

  .approach-text-content {
    font-size: 20px;
    line-height: 30px;
  }

  .approach-images {
    width: 90%;
  }

  .gulsha-digital-branding-square {
    width: 152px;
    height: 39px;
  }

  .gulsha-digital-branding-icon {
    height: 66px;
  }

  .gulsha-digital-branding-oval {
    width: 98px;
    height: 98px;
  }

  .about-bottom-text {
    font-size: 30px;
  }

  .padding-container-fluid {
    padding-left: 200px;
    padding-right: 200px;
  }

  .gulsha-banner-text-title {
    font-size: 50px;
    line-height: 65px;
  }

  .iddaa-banner-text-title {
    font-size: 50px;
    line-height: 65px;
  }

  .gulsha-banner-text {
    font-size: 22px;
    line-height: 35px;
  }

  .iddaa-banner-text {
    font-size: 22px;
    line-height: 35px;
  }

  .iddaa-text {
    font-size: 22px;
    line-height: 35px;
  }

  .gulsha-text {
    font-size: 22px;
    line-height: 35px;
  }

  .gulsha-detail-owner-div-name {
    font-size: 35px;
  }

  .gulsha-detail-owner-div-job {
    font-size: 30px;
  }

  .gulsha-detail-owner-div-text {
    font-size: 26px;
    line-height: 34px;
  }

  .gulsha-banner-explanation .gulsha-banner-explanation-title {
    font-size: 22px;
    line-height: 30px;
  }

  .iddaa-banner-explanation .iddaa-banner-explanation-title {
    font-size: 22px;
    line-height: 30px;
  }

  .gulsha-banner-explanation .gulsha-banner-explanation-content {
    font-size: 18px;
    line-height: 30px;
  }

  .iddaa-banner-explanation .iddaa-banner-explanation-content {
    font-size: 18px;
    line-height: 30px;
  }

  #gulsha-body-content {
    padding-top: 150px;
  }

  #iddaa-body-content {
    padding-top: 150px;
  }

  .gulsha-final-ui-text-lg {
    bottom: 60px;
  }

  .get-in-touch-forms-button {
    margin-right: 0;
    line-height: 50px;
  }

  .get-in-touch-forms-input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .get-in-touch-forms-text-area {
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    width: 100%;
    height: 220px !important;
  }

  .text-area-span {
    top: 325px;
  }

  .get-in-touch-mail {
    font-size: 18px;
    line-height: 24px;
  }

  .get-in-touch-title {
    font-size: 30px;
    line-height: 40px;
  }

  .get-in-touch-adress-image {
    max-width: 240px;
    position: relative;
  }

  .approach-banner-images {
    width: 300px;
    height: 409px;
  }

  .menu-nav-item-about-transition {
    margin-right: 0px;
  }

  .padding-container-fluid-what-we-are-capable-of {
    padding: 0px 100px;
  }

  .get-in-touch-lg-footer-image {
    width: auto;
  }

  .freyjan-title {
    font-size: 40px;
  }

  .text-what-we-are-capable-content {
    font-size: 18px;
    line-height: 30px;
  }

  .what-we-are-capable-content-title {
    font-size: 22px;
  }

  .menu-nav-item-about-transition {
    color: #1a2b84 !important;
    margin-right: -23px;
  }

  .approach-diagram-web {
    height: 400px;
  }

  .get-in-touch-text {
    font-size: 15px;
  }

  .about-cups-of-coffee {
    margin-left: -65px;
  }

  .about-number {
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
  }

  .about-number-text {
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
  }

  .freyjan-banner-text {
    font-size: 30px;
    line-height: 40px;
  }

  .blue-bottom-text {
    margin-top: 110px;
  }

  .white-bottom-text {
    margin-top: 110px;
  }

  .blue-bottom-text-content {
    font-size: 35px;
  }

  .blue-bottom-text-content label {
    font-size: 20px;
  }

  .white-bottom-text-content {
    font-size: 35px;
  }

  .white-bottom-text-content label {
    font-size: 20px;
  }
}

@media (min-width: 1500px) {
  .menu-nav-item-work-transition {
    color: #1a2b84 !important;
  }
}

/**************************************/
/**********-MEDIA END-***************/
/**************************************/
